<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmes</title>
</head>
<body>

    <h1>Lista de filmes</h1>

    <ul>
        {% for filme in filmes %}

        <li>
            <strong>{{ filme.titulo }}</strong>
            <br>Diretor: {{ filme.diretor }}
            <br>Nota: {{ filme.nota }}
            <br>
            <a href="{% url 'filme_update' filme.pk %}">Editar</a> |
            <a href="{% url 'filme_delete' filme.pk %}">Apagar</a>
        </li>

        {% empty %}

        <li>Nenhum filme cadastrado.</li>

        {% endfor %}
    </ul>

    <a href="{% url 'filme_create' %}">Adicionar Filme</a>
    
</body>
</html>