<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos</title>
</head>
<body>
    
    <h1>Confirmação de Exclusão</h1>

    <p>Você tem certeza que deseja deletar a tarefa: <strong>{{ object.title }}</strong>?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit">Sim, deletar</button>
        <a href="{% url 'todo_list' %}">Cancelar</a>
    </form>

</body>
</html>